.img-auto {
  width: 100%;
  height: auto;
}
.border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/*
 *标签初始化
 */
* {
  margin: 0;
  padding: 0;
}
b {
  font-weight: normal;
}
html {
  min-height: 100%;
}
body {
  color: #333333;
  background: #fafafa;
  font-size: 12px;
  padding: 0;
  margin: 0;
  font-weight: normal;
  min-height: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: "微软雅黑";
}
body.white-bg {
  background: #fff;
}
img,
input,
select {
  vertical-align: middle;
}
img {
  border: 0;
}
li {
  list-style-type: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
th,
td {
  padding: 0;
}
input,
button,
select,
textarea {
  outline: none;
  resize: none;
}
a {
  outline: medium none;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  text-decoration: none;
}
/* 浮动 、清除 其它 */
.left {
  float: left !important;
  display: inline;
}
.right {
  float: right !important;
  display: inline;
}
.clearf {
  clear: both;
  line-height: 0;
  height: 0%;
  font: 0px Arial;
  overflow: hidden;
}
.none {
  display: none;
}
.color-red {
  color: #d0021b !important;
}
/*
 *公共头部
 */
.wrap header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 46px;
  background-color: #fff;
  border-bottom: 1px solid #d8d8d8;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.wrap header h2 {
  font-size: 16px;
  color: #333;
  text-align: center;
  line-height: 46px;
  font-weight: normal;
}
.wrap header .back-btn {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 4%;
  width: 30px;
  margin-left: -11px;
  background: url(../images/head_back_ico.png) no-repeat center center;
  background-size: 8px auto;
}
.main-section {
  margin-top: 46px;
}
.mask {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 500;
  background: rgba(0, 0, 0, 0.1);
}
.bottom-bubble-con {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 300;
  padding: 0 4%;
  background: rgba(0, 0, 0, 0.7);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.bottom-bubble-con .bottom-bubble-div {
  position: relative;
  width: 100%;
  height: 58px;
  padding-left: 57px;
  padding-right: 78px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.bottom-bubble-con .bottom-bubble-div .img-div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 310;
  width: 45px;
  padding-top: 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.bottom-bubble-con .bottom-bubble-div .img-div .logo-img {
  width: 100%;
  height: auto;
}
.bottom-bubble-con .bottom-bubble-div .text-div {
  width: 100%;
}
.bottom-bubble-con .bottom-bubble-div .text-div .tbcell-div {
  display: table-cell;
  vertical-align: middle;
  width: 5000px;
  height: 58px;
}
.bottom-bubble-con .bottom-bubble-div .text-div .nor-p {
  font-size: 12px;
  color: #fff;
  line-height: 1.2em;
}
.bottom-bubble-con .bottom-bubble-div .text-div .nor-p + .nor-p {
  margin-top: 8px;
}
.bottom-bubble-con .bottom-bubble-div .btn-div {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 310;
  width: 68px;
  padding-top: 19px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.bottom-bubble-con .bottom-bubble-div .btn-div .nor-btn {
  display: block;
  width: 100%;
  height: 28px;
  font-size: 12px;
  color: #000;
  line-height: 28px;
  text-align: center;
  background: #ffe44f;
  border-radius: 3px;
}
.bottom-bubble-con .bottom-bubble-div .btn-div .nor-btn:hover {
  color: #fff;
  background: #ffa701;
}
.alert-tbl {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 600;
  text-align: center;
}
/*
 *首页
 */
.index-header-main {
  position: relative;
  width: 100%;
}
.index-header-main ul li img {
  width: 100%;
}
.index-header-main .header-main-topsearch {
  position: absolute;
  top: 10px;
  width: 260px;
  left: 50%;
  margin-left: -130px;
}
.index-header-main .header-main-topsearch img {
  position: absolute;
  left: 5px;
  top: 5px;
  width: 18px;
  height: 18px;
}
.index-header-main .header-main-topsearch input {
  width: 260px;
  height: 28px;
  line-height: 28px;
  padding-left: 28px;
  background: #ccc;
  border-radius: 5px;
  border: 1px solid #dddddd;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/*
 *首页第二行模块入口
 */
.index-mokuairk-linetwo {
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #f6f6f6;
}
.index-mokuairk-linetwo .mokuairk-linetwo-main {
  width: 92%;
  height: 80px;
  margin: 0 auto;
}
.index-mokuairk-linetwo .mokuairk-linetwo-main ul {
  padding-top: 10px;
}
.index-mokuairk-linetwo .mokuairk-linetwo-main ul li {
  float: left;
  width: 25%;
  text-align: center;
}
.index-mokuairk-linetwo .mokuairk-linetwo-main ul li img {
  width: 44px;
}
.index-mokuairk-linetwo .mokuairk-linetwo-main ul li p {
  padding-top: 8px;
  color:#333;
}
/*
 * 车源列表
 */
.index-carsouse {
  width: 100%;
  margin-top: 10px;
  border-top: 1px solid #f6f6f6;
  background: #fff;
  margin-bottom: 45px;
}
.index-carsouse ul li {
  height: 50px;
  line-height: 50px;
  padding: 0 3%;
}
.index-carsouse ul li:first-child {
  height: 18px;
  line-height: 18px;
  border-bottom: 1px solid #f2f2f2;
}
.index-carsouse ul li:last-child {
  border-bottom: 1px solid #f2f2f2;
}
.index-carsouse ul li p.img-left {
  display: table-cell;
  vertical-align: middle;
}
.index-carsouse ul li p.img-left img {
  width: 34px;
  margin: 0 7px;
}
.index-carsouse ul li p.text-right {
  width: 10000px;
  display: table-cell;
  vertical-align: middle;
  margin-right: 3%;
  border-bottom: 1px solid #f2f2f2;
}
/*
 *首页底部footer
 */
.index-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 45px;
  background: #fff;
  border-top: 1px solid #f6f6f6;
}
.index-footer ul {
  padding-top: 5px;
}
.index-footer ul li.footer-checked span.car-left {
  background: url(../images/footer-carchecked.png) no-repeat center center;
  background-size: 23px auto;
}
.index-footer ul li.footer-checked span.all-right {
  background: url(../images/footer-allchecked.png) no-repeat center center;
  background-size: 19px auto;
}
.index-footer ul li.footer-checked p {
  color: #ffa701;
}
.index-footer ul li {
  float: left;
  width: 50%;
  text-align: center;
}
.index-footer ul li span.car-left {
  width: 24px;
  height: 24px;
  display: inline-block;
  background: url(../images/footer-car.png) no-repeat center center;
  background-size: 23px auto;
}
.index-footer ul li span.all-right {
  width: 24px;
  height: 24px;
  display: inline-block;
  background: url(../images/footer-all.png) no-repeat center center;
  background-size: 19px auto;
}
.index-footer ul li p {
  color: #666;
}
/*
 *服务首页
 */
.fuwu-index {
  margin-bottom: 45px;
}
.fuwu-index .fuwu-index-one p.fuwu-name {
  height: 22px;
  line-height: 22px;
  padding: 0 3%;
}
.fuwu-index .fuwu-index-one ul {
  width: 100%;
  display: inline-block;
  background: #fff;
}
.fuwu-index .fuwu-index-one ul li {
  height: 48px;
  line-height: 48px;
  padding: 0 3%;
  border-bottom: 1px solid #f3f3f3;
  background: url(../images/right_more_ico.png) no-repeat 97% center;
  background-size: 8px auto;
}
.fuwu-index .fuwu-index-one ul li img {
  width: 34px;
}
.fuwu-index .fuwu-index-one ul li span {
  display: inline-block;
  margin-left: 13px;
}
/*
 *服务评价
 */
ul.header-tab {
  width: 80%;
  margin: 0 auto;
  display: block;
}
ul.header-tab li.tab-checked {
  color: #ffa701;
}
ul.header-tab li.tab-checked span {
  display: inline-block;
  border-bottom: 1px solid #ffa701;
}
ul.header-tab li {
  width: 50%;
  float: left;
  line-height: 44px;
  font-size: 14px;
  text-align: center;
}
.main-section.service-valuation-martop {
  margin-top: 56px;
}
.main-section.service-valuation-martop .service-valuation {
  width: 100%;
  background: #fff;
  padding: 10px 3%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 10px;
}
.main-section.service-valuation-martop .service-valuation .service-valuation-one h3 {
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
}
.main-section.service-valuation-martop .service-valuation .service-valuation-one span {
  color: #999;
}
.main-section.service-valuation-martop .service-valuation .service-valuation-two {
  margin: 5px 0;
}
.main-section.service-valuation-martop .service-valuation .service-valuation-two img {
  width: 12px;
}
.main-section.service-valuation-martop .service-valuation .service-valuation-three p {
  line-height: 14px;
}
/*
 *我的车源
 */
.mycar-maincon-top {
  background: #fff;
}
.mycar-maincon-top .mycar-maincon-one {
  text-align: center;
}
.mycar-maincon-top .mycar-maincon-one img {
  width: 76px;
}
.mycar-maincon-top .mycar-maincon-two {
  text-align: center;
  padding-bottom: 10px;
}
.mycar-maincon-top .mycar-maincon-two p {
  font-size: 14px;
}
.mycar-maincon-top .mycar-maincon-two p:first-child {
  display: inline-block;
  background: url(../images/type_ren.png) no-repeat left center;
  background-size: 18px auto;
  padding: 5px 0 8px 22px;
}
.mycar-maincon-center {
  background: #fff;
  margin: 10px 0;
}
.mycar-maincon-center ul li.xiala-checked {
  background: url(../images/type_shang_orange.png) no-repeat 66% center;
  background-size: 10px auto;
}
.mycar-maincon-center ul li {
  float: left;
  width: 50%;
  hieght: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid #ccc;
  background: url(../images/type_xia_orange.png) no-repeat 66% center;
  background-size: 10px auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.mycar-maincon-center ul li:first-child {
  border-right: 0;
}
.mycar-maincon-center ul li span {
  display: inline-block;
}
.main-detail p {
  word-break: break-all;
  padding: 5px;
}
.main-detail img {
  width: 100%;
}
.main-comment p {
  word-break: break-all;
  padding: 30% 20% 10%;
}
.main-comment img {
  width: 100%;
}
.main-comment .main-comment-text{
  color:#999999;
  text-align: center;
  font-size: 13px;
}
/*
 *物流报价_161021.html
 */
/*始发地-目的地模块*/
.wlbj-from-to-con {
  width: 100%;
  margin-bottom: 16px;
  padding: 7px 4%;
  background: #fff;
  border-bottom: 1px solid #dddddd;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.wlbj-from-to-con .from-div .title-p {
  margin-bottom: 7px;
  font-size: 12px;
  color: #999;
  line-height: 1.2em;
  text-align: left;
}
.wlbj-from-to-con .from-div .city-p {
  font-size: 14px;
  color: #333;
  line-height: 1.2em;
  text-align: left;
}
.wlbj-from-to-con .to-div .title-p {
  margin-bottom: 7px;
  font-size: 12px;
  color: #999;
  line-height: 1.2em;
  text-align: right;
}
.wlbj-from-to-con .to-div .city-p {
  font-size: 14px;
  color: #333;
  line-height: 1.2em;
  text-align: right;
}
/*报价模块*/
.wlbj-quoted-price-con {
  width: 100%;
  margin: 16px auto;
  background: #fff;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.wlbj-quoted-price-con .quoted-price-ul {
  width: 100%;
}
.wlbj-quoted-price-con .quoted-price-ul li {
  padding: 0 4%;
  border-bottom: 1px solid #dddddd;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.wlbj-quoted-price-con .quoted-price-ul li:last-child {
  border-bottom: 0 solid #dddddd;
}
.wlbj-quoted-price-con .quoted-price-ul li .price-and-type-div {
  padding: 9px 0 7px;
}
.wlbj-quoted-price-con .quoted-price-ul li .price-and-type-div .price-p {
  margin-bottom: 4px;
  font-size: 13px;
  color: #ff5000;
  line-height: 1.2em;
}
.wlbj-quoted-price-con .quoted-price-ul li .price-and-type-div .type-p {
  font-size: 12px;
  color: #999;
  line-height: 1.2em;
}
.wlbj-quoted-price-con .quoted-price-ul li .btn-div {
  padding-top: 11px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.wlbj-quoted-price-con .quoted-price-ul li .btn-div .nor-btn {
  display: inline-block;
  width: 68px;
  height: 26px;
  font-size: 12px;
  color: #333;
  line-height: 26px;
  text-align: center;
  background: #ffe44f;
  border-radius: 5px;
}
.wlbj-quoted-price-con .quoted-price-ul li .btn-div .nor-btn:hover {
  color: #fff;
  background: #ffa701;
}
/*
 *物流报价-copy(弹窗)_161021.html
 */
/*物流报价弹窗*/
.wlbj-alert-con {
  width: 86%;
  margin: 0 auto;
  padding-top: 7px;
  padding-bottom: 21px;
  background: #fff;
  border-radius: 5px;
}
.wlbj-alert-con .logo-div {
  width: 100%;
  height: 122px;
  margin-bottom: 22px;
  padding-top: 28px;
  background: url(../images/wlbj_alert_bg1.png) no-repeat center center;
  background-size: cover;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.wlbj-alert-con .logo-div .logo-img {
  width: auto;
  height: 68px;
}
.wlbj-alert-con .text-div {
  width: 100%;
  margin-bottom: 25px;
  padding: 0 7px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.wlbj-alert-con .text-div .nor-p {
  font-size: 13px;
  color: #999;
  line-height: 1.2em;
  text-align: center;
}
.wlbj-alert-con .text-div .nor-p + .nor-p {
  margin-top: 4px;
}
.wlbj-alert-con .btn-div {
  width: 100%;
}
.wlbj-alert-con .btn-div .use-btn {
  display: block;
  width: 32%;
  height: 36px;
  margin: 0 auto;
  font-size: 12px;
  color: #000;
  line-height: 36px;
  text-align: center;
  background: #ffe44f;
  border-radius: 3px;
}
.wlbj-alert-con .btn-div .use-btn:hover {
  color: #fff;
  background: #ffa701;
}
/*
 *物流服务_161021.html
 */
/*section*/
.wlff-bottom-bar-sec {
  padding-bottom: 42px;
}
/*物流服务-始发地-目的地模块*/
.wlff-from-to-con {
  width: 100%;
  margin-bottom: 7px;
  padding-top: 38px;
  padding-bottom: 22px;
  background: #ffa701;
  border-bottom: 1px solid #dddddd;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.wlff-from-to-con .from-to-div {
  position: relative;
  width: 82%;
  margin: 0 auto 21px;
}
.wlff-from-to-con .from-to-div .from-div {
  width: 36.43%;
}
.wlff-from-to-con .from-to-div .from-div .title-p {
  margin-bottom: 10px;
  font-size: 12px;
  color: #ffd992;
  line-height: 1.2em;
  text-align: center;
}
.wlff-from-to-con .from-to-div .from-div .city-div {
  width: 100%;
  padding-bottom: 7px;
  border-bottom: 1px solid #ffd992;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.wlff-from-to-con .from-to-div .from-div .city-div .city-p {
  font-size: 18px;
  color: #fff;
  line-height: 1.2em;
  text-align: center;
  cursor: pointer;
}
.wlff-from-to-con .from-to-div .to-div {
  width: 36.43%;
}
.wlff-from-to-con .from-to-div .to-div .title-p {
  margin-bottom: 10px;
  font-size: 12px;
  color: #ffd992;
  line-height: 1.2em;
  text-align: center;
}
.wlff-from-to-con .from-to-div .to-div .city-div {
  width: 100%;
  padding-bottom: 7px;
  border-bottom: 1px solid #ffd992;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.wlff-from-to-con .from-to-div .to-div .city-div .city-p {
  font-size: 18px;
  color: #fff;
  line-height: 1.2em;
  text-align: center;
  cursor: pointer;
}
.wlff-from-to-con .from-to-div .triangle-div {
  position: absolute;
  top: 70%;
  left: 50%;
  z-index: 10;
  width: 8px;
  height: 14px;
  margin-top: -7px;
  margin-left: -4px;
  background: url(../images/wlff_right_triangle_ico.png) no-repeat center center;
  background-size: 8px auto;
}
.wlff-from-to-con .tip-div {
  width: 82%;
  margin: 0 auto;
}
.wlff-from-to-con .tip-div .tip-btn {
  display: block;
  width: 100%;
  height: 32px;
  font-size: 12px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  border: 1px solid #ffd992;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/*车辆类型模块*/
.wlff-car-type-con {
  width: 100%;
  background: #fff;
  margin-bottom: 7px;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.wlff-car-type-con .wlff-car-type-ul {
  width: 100%;
}
.wlff-car-type-con .wlff-car-type-ul li {
  width: 100%;
  padding: 12px 4%;
  border-bottom: 1px solid #dddddd;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.wlff-car-type-con .wlff-car-type-ul li:last-child {
  border-bottom: 0 solid #dddddd;
}
.wlff-car-type-con .wlff-car-type-ul li.right-more-li {
  background: url(../images/right_more_ico.png) no-repeat 96% center;
  background-size: 6px auto;
}
.wlff-car-type-con .wlff-car-type-ul li .label-div .label-p {
  font-size: 12px;
  color: #999;
  line-height: 1.2em;
}
.wlff-car-type-con .wlff-car-type-ul li .content-div .nor-p {
  margin-right: 15px;
  font-size: 12px;
  color: #333;
  line-height: 1.2em;
}
/*小标题模块*/
.wlff-title-con {
  position: relative;
  width: 100%;
  height: 20px;
  margin-bottom: 7px;
  text-align: center;
  background: #fafafa;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.wlff-title-con .line-div {
  position: absolute;
  top: 50%;
  left: 5%;
  z-index: 10;
  width: 90%;
  border-bottom: 1px solid #dddddd;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.wlff-title-con .title-span {
  position: relative;
  z-index: 20;
  padding: 0 9px;
  font-size: 12px;
  color: #999;
  line-height: 20px;
  text-align: center;
  background: #fafafa;
}
/*常见问题模块*/
.wlff-nor-problem-con {
  width: 100%;
}
.wlff-nor-problem-con .wlff-nor-problem-ul {
  width: 100%;
  padding: 0 0.6%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.wlff-nor-problem-con .wlff-nor-problem-ul li {
  float: left;
  width: 33.333333333333%;
  width: calc(100% / 3);
  width: -moz-calc(100% / 3);
  width: -webkit-calc(100% / 3);
  margin-bottom: 5px;
  padding: 0 0.6%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.wlff-nor-problem-con .wlff-nor-problem-ul li .content-div {
  padding-top: 25px;
  padding-bottom: 28px;
  background: #fff;
  text-align: center;
  border: 1px solid #dddddd;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.wlff-nor-problem-con .wlff-nor-problem-ul li .content-div .problem-img {
  width: auto;
  height: 28px;
  margin-bottom: 11px;
}
.wlff-nor-problem-con .wlff-nor-problem-ul li .content-div .problem-name {
  font-size: 12px;
  color: #333;
  line-height: 1.2em;
  text-align: center;
}
/*底部固定条*/
.wlff-bottom-bar-con {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 100;
  width: 100%;
  height: 42px;
  background: #fff;
  border-top: 1px solid #dddddd;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.wlff-bottom-bar-con .call-div {
  width: 60%;
  height: 42px;
}
.wlff-bottom-bar-con .call-div .call-btn {
  display: block;
  width: 100%;
  height: 42px;
  text-align: center;
  background: #fff;
}
.wlff-bottom-bar-con .call-div .call-btn span {
  display: inline-block;
  height: 42px;
  padding-top: 20px;
  font-size: 12px;
  color: #333;
  line-height: 1.2em;
  background: url(../images/wlff_call_ico.png) no-repeat center 4px;
  background-size: auto 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.wlff-bottom-bar-con .query-price-div {
  width: 40%;
  height: 42px;
}
.wlff-bottom-bar-con .query-price-div .query-price-btn {
  display: block;
  width: 100%;
  height: 42px;
  text-align: center;
  background: #ffe44f;
}
.wlff-bottom-bar-con .query-price-div .query-price-btn span {
  display: inline-block;
  height: 42px;
  padding-left: 17px;
  font-size: 12px;
  color: #333;
  line-height: 42px;
  background: url(../images/wlff_query_price_ico.png) no-repeat left center;
  background-size: 12px auto;
}
/*
 *品牌_161024.html
 */
/*section*/
.brand-sec {
  margin-top: 87px;
}
/*切换模块*/
.brand-switch-con {
  position: fixed;
  top: 46px;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 41px;
  padding-top: 3px;
  background: #fff;
  border-bottom: 1px solid #dddddd;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.brand-switch-con .brand-switch-ul {
  width: 64%;
  margin: 0 auto;
}
.brand-switch-con .brand-switch-ul li {
  float: left;
  width: 44%;
}
.brand-switch-con .brand-switch-ul li + li {
  margin-left: 12%;
}
.brand-switch-con .brand-switch-ul li.current .switch-a {
  background: #ffa701;
  color: #fff;
}
.brand-switch-con .brand-switch-ul li .switch-a {
  display: block;
  width: 100%;
  height: 32px;
  background: #fff;
  font-size: 12px;
  color: #ffa701;
  line-height: 32px;
  text-align: center;
  border: 1px solid #ffa701;
  border-radius: 5px;
}
/*品牌列表模块*/
.brand-list-con {
  width: 100%;
  margin-bottom: 35px;
  background: #fff;
  border-bottom: 1px solid #dddddd;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.brand-list-con .brand-list-ul {
  width: 100%;
}
.brand-list-con .brand-list-ul li {
  width: 100%;
  border-bottom: 1px solid #dddddd;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.brand-list-con .brand-list-ul li:last-child {
  border-bottom: 0 solid #dddddd;
}
.brand-list-con .brand-list-ul li .content-con {
  width: 100%;
}
.brand-list-con .brand-list-ul li .img-div {
  width: 38%;
  height: 80px;
}
.brand-list-con .brand-list-ul li .img-div .tbcell-div {
  display: table-cell;
  vertical-align: middle;
  width: 10000px;
  height: 80px;
  text-align: center;
}
.brand-list-con .brand-list-ul li .img-div .tbcell-div .brand-car-img {
  width: auto;
  height: auto;
  max-width: 60%;
  max-height: 50%;
}
.brand-list-con .brand-list-ul li .content-div {
  width: 62%;
  height: 80px;
  padding-top: 17px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.brand-list-con .brand-list-ul li .content-div .brand-name-p {
  margin-bottom: 9px;
  font-size: 15px;
  color: #333;
  line-height: 1.2em;
}
.brand-list-con .brand-list-ul li .content-div .brand-pirce-p {
  font-size: 12px;
  color: #ffa701;
  line-height: 1.2em;
}
/*
 *海外/热卖车源列表_161104.html
 */
/*单列车源弹窗*/
.carsource-one-col-wd {
  position: fixed;
  top: 81px;
  left: 0;
  z-index: 601;
  width: 100%;
  /*max-height: 60%;*/
  max-height: 300px;
  overflow-y: auto;
  background: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.carsource-one-col-wd::-webkit-scrollbar {
  width: 0;
}
.carsource-one-col-wd .one-col-con .title-div {
  width: 100%;
  height: 37px;
  padding: 0 4%;
  border-bottom: 1px solid #dddddd;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.carsource-one-col-wd .one-col-con .title-div p {
  font-size: 13px;
  color: #333;
  line-height: 37px;
}
.carsource-one-col-wd .one-col-con .one-col-ul {
  width: 100%;
}
.carsource-one-col-wd .one-col-con .one-col-ul li {
  width: 100%;
  height: 35px;
  border-bottom: 1px solid #dddddd;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.carsource-one-col-wd .one-col-con .one-col-ul li.current .nor-a {
  background: #fafafa;
  color: #ffa701;
}
.carsource-one-col-wd .one-col-con .one-col-ul li .nor-a {
  display: block;
  width: 100%;
  height: 34px;
  padding: 0 4%;
  font-size: 13px;
  color: #333;
  line-height: 34px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/*双列车源弹窗*/
.carsource-two-col-wd {
  position: fixed;
  top: 81px;
  left: 0;
  z-index: 601;
  width: 100%;
  max-height: 300px;
  background: linear-gradient(to right, #ffffff 0%, #ffffff 50%, #fafafa 50%, #fafafa 100%);
  background: -webkit-linear-gradient(left, #ffffff 0%, #ffffff 50%, #fafafa 50%, #fafafa 100%);
  background: -moz-linear-gradient(left, #ffffff 0%, #ffffff 50%, #fafafa 50%, #fafafa 100%);
  background: -o-linear-gradient(left, #ffffff 0%, #ffffff 50%, #fafafa 50%, #fafafa 100%);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.carsource-two-col-wd .left-col-div {
  width: 50%;
  max-height: 300px;
  overflow-y: auto;
  background: #fff;
}
.carsource-two-col-wd .left-col-div::-webkit-scrollbar {
  width: 0;
}
.carsource-two-col-wd .left-col-div .left-col-ul {
  width: 100%;
}
.carsource-two-col-wd .left-col-div .left-col-ul li {
  width: 100%;
  height: 35px;
  border-bottom: 1px solid #dddddd;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.carsource-two-col-wd .left-col-div .left-col-ul li.current .nor-a {
  background: #fafafa;
  color: #ffa701;
}
.carsource-two-col-wd .left-col-div .left-col-ul li .nor-a {
  display: block;
  width: 100%;
  height: 34px;
  padding: 0 8%;
  font-size: 13px;
  color: #333;
  line-height: 34px;
  border-right: 1px solid #ffffff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.carsource-two-col-wd .right-col-div {
  width: 50%;
  max-height: 300px;
  overflow-y: auto;
  background: #fafafa;
}
.carsource-two-col-wd .right-col-div::-webkit-scrollbar {
  width: 0;
}
.carsource-two-col-wd .right-col-div .right-col-ul {
  width: 100%;
}
.carsource-two-col-wd .right-col-div .right-col-ul li {
  width: 100%;
  height: 35px;
  border-bottom: 1px solid #dddddd;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.carsource-two-col-wd .right-col-div .right-col-ul li.current .nor-a {
  background: #fafafa;
  color: #ffa701;
}
.carsource-two-col-wd .right-col-div .right-col-ul li .nor-a {
  display: block;
  width: 100%;
  height: 34px;
  padding: 0 8%;
  font-size: 13px;
  color: #333;
  line-height: 34px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* 
 *  车型——161024
 */
.cartype-head-nav {
  padding: 0 4%;
  background-color: #ffffff;
  position: fixed;
  top: 46px;
  left: 0;
  right: 0;
  z-index: 100;
  border-bottom: 1px solid #dddddd;
}
.cartype-head-nav > ul > li {
  float: left;
  width: 25%;
  text-align: center;
}
.cartype-head-nav > ul > li .nav-div {
  padding-right: 10px;
  display: inline-block;
  line-height: 34px;
  color: #333333;
  background: url(../images/type_xia.png) no-repeat right center;
  background-size: 6px auto;
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.cartype-head-nav > ul > li.shang-curr .nav-div {
  color: #ffa701;
  background: url(../images/type_shang_orange.png) no-repeat right center;
  background-size: 6px auto;
}
.cartype-head-nav > ul > li.xia-curr .nav-div {
  color: #ffa701;
  background: url(../images/type_xia_orange.png) no-repeat right center;
  background-size: 6px auto;
}
.cartype-car-detail {
  margin-top: 81px;
  margin-bottom: 60px;
}
.cartype-car-detail > ul > li {
  background-color: #ffffff;
  padding: 0 4%;
  border-bottom: 1px solid #dddddd;
}
.cartype-car-detail > ul > li:hover {
  background-color: #fafafa;
}
.cartype-car-detail > ul > li .car-box {
  padding: 16px 0 6px 0;
  position: relative;
}
.cartype-car-detail > ul > li .car-box .car-name {
  font-size: 14px;
  margin-bottom: 14px;
  width: 80%;
  overflow: hidden;
}
.cartype-car-detail > ul > li .car-box .car-sign {
  color: #666666;
}
.cartype-car-detail > ul > li .car-box .car-con {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 28px;
}
.cartype-car-detail > ul > li .car-box .car-con .con-blue {
  color: #4a90e2;
  font-size: 14px;
}
.cartype-car-detail > ul > li .car-box .car-jxs {
  padding-left: 20px;
  background: url(../images/type_ren.png) no-repeat left center;
  background-size: 10px auto;
}
.cartype-car-detail > ul > li .car-box .car-price {
  position: absolute;
  top: 16px;
  right: 0;
  text-align: right;
}
.cartype-car-detail > ul > li .car-box .car-price span {
  color: #ff5000;
  font-size: 14px;
}
.cartype-car-detail > ul > li .car-box .car-price .price-refer {
  color: #999999;
  line-height: 22px;
}
.cartype-car-detail > ul > li .car-box .car-date {
  position: absolute;
  bottom: 5px;
  right: 0;
  color: #999999;
}
.mask-car {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 500;
  background: rgba(0, 0, 0, 0.1);
}
.cartype-choose-box {
  position: absolute;
  top: 34px;
  right: 0;
  width: 100%;
  z-index: 600;
  background-color: #ffffff;
  line-height: 22px;
  padding: 0 0 18px 3%;
  max-height: 226px;
  overflow-y: scroll;
  text-align: left;
  border: 1px solid #dddddd;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.cartype-choose-box .cartype-all {
  padding: 0 2% 0 5%;
}
.cartype-choose-box .cartype-class .cartype-tit {
  background-color: #fafafa;
  padding: 0 2% 0 5%;
}
.cartype-choose-box .cartype-class ul li {
  padding: 0 2% 0 5%;
  position: relative;
  border-bottom: 1px solid #dddddd;
}
.cartype-choose-box .cartype-class ul li span {
  color: #999999;
}
.cartype-choose-box .curr {
  color: #ffa701 !important;
  background: url(../images/type_dui.png) no-repeat left center;
  background-size: 8px auto;
}
.cartype-choose-footer {
  position: absolute;
  top: 242px;
  right: 0;
  width: 100%;
  z-index: 601;
  height: 17px;
  padding-left: 3%;
  background: #ffffff url(../images/type_la.png) no-repeat center center;
  background-size: 16px auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/*
 * 车辆详情——161108
 */
.clxq-head-banner {
  position: relative;
  background-color: #fff;
  margin-bottom: 6px;
  border-bottom: 1px solid #dddddd;
}
.clxq-head-banner .banner-back {
  position: absolute;
  top: 10px;
  left: 4%;
  width: 18px;
  height: 18px;
  background: url(../images/clxq_back.png) no-repeat center center;
  background-size: 18px auto;
  z-index: 1000
}
.clxq-head-banner .banner-img img {
  width: 100%;
  height: auto;
}
.clxq-head-banner .banner-title {
  padding: 12px 4% 10px;
}
.clxq-head-banner .banner-title .title-style {
  font-size: 14px;
  margin-bottom: 20px;
}
.clxq-head-banner .banner-title .title-price {
  color: #999999;
}
.clxq-head-banner .banner-title .title-price .word-gray {
  color: #666666;
}
.clxq-head-banner .banner-title .title-price .word-big {
  color: #FF5000;
  font-size: 16px;
}
.clxq-head-banner .banner-title .title-price .word-orange {
  color: #FF5000;
}
.clxq-information {
  font-size: 13px;
  padding: 6px 4%;
  margin-bottom: 6px;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}
.clxq-information .infor-base .base-title {
  line-height: 22px;
}
.clxq-information .infor-base ul {
  color: #999999;
}
.clxq-information .infor-base ul li {
  line-height: 26px;
  border-bottom: 1px solid #dddddd;
}
.clxq-information .infor-base ul li:last-child {
  border-bottom: 0;
}
.clxq-information .infor-box .box-title {
  line-height: 22px;
}
.clxq-information .infor-box .box-graycon {
  color: #999999;
  padding: 6px 0;
  line-height: 18px;
}
.clxq-sellcar {
  margin-bottom: 58px;
  padding: 8px 4%;
  line-height: 20px;
  background: #ffffff url(../images/right_more_ico.png) no-repeat 96% center;
  background-size: 8px auto;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}
.clxq-sellcar .sell-shop {
  padding-right: 16px;
  display: inline-block;
  background: url(../images/type_ren.png) no-repeat right center;
  background-size: 12px auto;
}
.clxq-sellcar .sell-tel {
  color: #999999;
}
